body {
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
}

.card {
    margin-top: 50px;
}

.invalid-feedback {
    display: none;
}

.was-validated .form-control:invalid ~ .invalid-feedback {
    display: block;
}
